# Expose port on localhost
apiVersion: v1
kind: Service
metadata:
  name: test-observer-api
  labels:
    app.kubernetes.io/name: test-observer-api
    app.kubernetes.io/part-of: test-observer
spec:
  type: NodePort
  selector:
    app.kubernetes.io/name: test-observer-api
  ports:
    - port: 30000
      nodePort: 30000
---
# API deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: test-observer-api
  labels:
    app.kubernetes.io/name: test-observer-api
    app.kubernetes.io/part-of: test-observer
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: test-observer-api
  template:
    metadata:
      labels:
        app.kubernetes.io/name: test-observer-api
        app.kubernetes.io/part-of: test-observer
    spec:
      containers:
        - name: test-observer-api
          image: localhost:32000/test-observer-api
          ports:
            - containerPort: 30000
        - name: test-observer-celery
          image: localhost:32000/test-observer-api
          command: ["celery"]
          args: ["-A", "tasks.celery", "worker", "-c", "1"]
      initContainers:
        - name: wait-for-db-migrations
          image: ghcr.io/groundnuty/k8s-wait-for:v2.0
          args:
            - "job"
            - "test-observer-migrations"
