[tool.poetry]
name = "test-observer"
version = "0.1.0"
description = "Observe the status and state of certification tests for various artefacts"
authors = []

[tool.poetry.dependencies]
python = "^3.10"
fastapi = "^0.95.0"
uvicorn = {extras = ["standard"], version = "^0.21.1"}
sqlalchemy = "2.0.9"
pg8000 = "^1.29.4"
alembic = "^1.10.3"


[tool.poetry.group.dev.dependencies]
black = "^23.1.0"
pylint = "^2.17.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
