# SPDX-FileCopyrightText: Copyright 2025 Canonical Ltd.
# SPDX-License-Identifier: Apache-2.0

name: Check copyright and license notices

on:
  push:
    branches-ignore:
      - 'main'

# Cancel in-progress runs if new commit pushed
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


jobs:
  check-notices:
    runs-on: [self-hosted, linux, large, jammy, x64]
    steps:
      - uses: actions/checkout@v4
      - name: Check Copyright and License Notices
        # By default, the action runs `reuse lint`, which checks all files
        uses: fsfe/reuse-action@676e2d560c9a403aa252096d99fcab3e1132b0f5 # v6
