name: Run charm tests
on:
  push:
    branches: ["main", "integration-test-fix"]
    tags: ["v*.*.*"]

jobs:
  integration-test:
    name: Integration tests
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup LXD
        uses: canonical/setup-lxd@main
        with:
          channel: 5.13/stable
      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          juju-channel: 3.1/stable
          charmcraft-channel: 2.x/stable
          lxd-channel: 5.13/stable
          provider: microk8s
      - name: Run integration tests
        run: tox -e integration
      - name: Archive Tested Charm
        uses: actions/upload-artifact@v3
        if: ${{ github.ref_name == 'main' }}
        with:
          name: tested-charm
          path: .tox/**/test-observer-frontend_ubuntu-22.04-amd64.charm
          retention-days: 5
      - name: Archive charmcraft logs
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: charmcraft-logs
          path: /home/runner/.local/state/charmcraft/log/*.log
      - name: Archive juju crashdump
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: juju-crashdump
          path: juju-crashdump-*.tar.xz
    defaults:
      run:
        working-directory: ./frontend/charm
