# Copyright 2023 Canonical Ltd.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# SPDX-FileCopyrightText: Copyright 2023 Canonical Ltd.
# SPDX-License-Identifier: Apache-2.0

name: Test Frontend
on:
  push:
    branches-ignore:
      - 'main'
    paths:
      - 'frontend/**'
      - '.github/workflows/test_frontend.yml'
# Cancel inprogress runs if new commit pushed
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  test:
    runs-on: [self-hosted, linux, large, jammy, x64]
    defaults:
      run:
        working-directory: frontend
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.29.3'
          channel: 'stable'
      - run: flutter pub get
      - run: flutter pub run build_runner build
      - run: dart format --set-exit-if-changed lib
      - run: flutter analyze
      - name: Install Google Chrome
        run: |
          sudo apt update -y
          wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb -P /tmp
          sudo apt install /tmp/google-chrome-stable_current_amd64.deb -y
      - uses: nanasess/setup-chromedriver@v2
      - run: flutter test --platform chrome
      - run: chromedriver --port=4444 &
      - run: ./run_integration_tests.sh
      - run: flutter build web
