name: Test Frontend
on:
  push:
    branches-ignore:
      - 'main'
    paths:
      - 'frontend/**'
      - '.github/workflows/test_frontend.yml'
# Cancel inprogress runs if new commit pushed
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  test:
    runs-on: [self-hosted, linux, large]
    defaults:
      run:
        working-directory: frontend
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.13.0'
          channel: 'stable'
      - run: flutter pub get
      - run: flutter pub run build_runner build
      # - run: flutter analyze
      # - name: Install Google Chrome
      #   run: |
      #     wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
      #     sudo apt update -y
      #     sudo apt install ./google-chrome-stable_current_amd64.deb -y
      - run: sudo apt update -y && sudo apt install chromium-chromedriver -y
      - run: flutter test --platform chrome
      - run: chromedriver --port 4444 &
      - run: ./run_integration_tests.sh
      - run: flutter build web
